# Test images
*.jpg
*.webp
*.png
!example.*

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Build / Packaging
*.egg-info/
dist/
build/
*.egg

# IDE
.vscode/
.idea/
*.swp

# External drivers
E-Paper_ESP8266_Driver_Board_Code/

# Output directories
processed_images/
*.bin

# Generated C header files for ESPSlider
ESPSlider/image*.h
